<div class='row no-gutters'>
    <div class='col-md-11'>

        <h4 class="nav-font" style="color:rgb(0, 0, 0)" >
            <b>Documentation</b>
        </h4>

        <hr>
    </div>

    <div class='col-md-2' style="margin-left:5%;">
    <a class="list-group-item border-less" style="color:rgb(214, 48, 48)" ng-click="loadGuide()" href="">
        <i class="fa fa-info-circle color-me-grey" aria-hidden="true"></i>
         <span class="add-space-1">Warrior User Guide</span>
     </a>

    <a class="list-group-item border-less" style="color:rgb(214, 48, 48)" ng-click="loadDocs()" href="">
        <i class="fa fa-book color-me-grey" aria-hidden="true"></i>
        <span class="add-space-1">Read The Docs</span>
    </a>
    </div>

</div>